{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
  </head>
  <body>
    <h1>App</h1>
    {% for student in students %}
        <p> {{ student.name }} </p>
        <p> {{ student.age }} </p>
        <p> {{ student.email }} </p>
        <p> {{ student.phone }} </p>
        <p> {{ student.address }} </p>
        <img src="{{ student.photo.url }}" alt="{{ student.name }}" height="300" width="300">
    {% endfor %}
    <form action="#" method="post" >
    {% csrf_token %}
      <input type="text" name="name" placeholder="Name" /> <br />
      <input type="text" name="age" placeholder="Age" /> <br />
      <input type="text" name="email" placeholder="Email" />  <br />
      <input type="text" name="phone" placeholder="Phone" />  <br />
      <input type="text" name="address" placeholder="Address" /> <br />
      <input type="file" name="photo" />
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
